<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}Title{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
        {{ "style.css" | asset_url | stylesheet_tag }}
        {% comment %} Style block allowing child pages to inject their own styles {% endcomment %}
        {% block styles %}{% endblock %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script>
             (function (i, s, o, g, r, a, m) {
                 i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                     (i[r].q = i[r].q || []).push(arguments)
                 }, i[r].l = 1 * new Date(); a = s.createElement(o),
              m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
             })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
             ga('create', 'UA-34086553-1', 'auto');
             ga('send', 'pageview');
        </script>
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% block content %}{% endblock %}

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        {{ "scripts.js" | asset_url | script_tag }}
        {% comment %} Scripts block allowing child pages to inject their own styles {% endcomment %}
        {% block scripts %}{% endblock %}
    </body>
</html>