<header class="navbar-fixed-top">
	<div class="container">
		<div class="row">
			<div class="col-xs-5">
				<a href="index"><img src="img/sg_logo.png"></a>
			</div>
			<div class="col-xs-7">
				<a href="competition" class="button">Enter the competition</a>
			</div>
		</div>
	</div>
</header>