<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index">Bootstrap 3.2 + Sass</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li {% if mixture.url == 'index' %}class="active"{% endif %}><a href="/index">Index</a></li>
            <li {% if mixture.url == 'example' %}class="active"{% endif %}><a href="/example">Example</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Links <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="https://github.com/kikedomingo/bts-sass-mixture" target="_blank">Fork on Github</a></li>
                <li><a href="https://github.com/twbs/bootstrap-sass" target="_blank">Bootstrap-sass Official</a></li>
              </ul>
            </li>
            {% include "debug_mode" %}
          </ul>
        </div><!--/.nav-collapse -->

      </div>
    </div>