<nav>
  <ul>
    <li><a class="smooth" href="#year_1994">1994</a></li>
    <li><a class="smooth" href="#year_1995">1995</a></li>
    <li><a class="smooth" href="#year_1996">1996</a></li>
    <li><a class="smooth" href="#year_1997">1997</a></li>
    <li><a class="smooth" href="#year_1998">1998</a></li>
    <li><a class="smooth" href="#year_1999">1999</a></li>
    <li><a class="smooth" href="#year_2000">2000</a></li>
    <li><a class="smooth" href="#year_2001">2001</a></li>
    <li><a class="smooth" href="#year_2002">2002</a></li>
    <li><a class="smooth" href="#year_2003">2003</a></li>
    <li><a class="smooth" href="#year_2004">2004</a></li>
    <li><a class="smooth" href="#year_2005">2005</a></li>
    <li><a class="smooth" href="#year_2006">2006</a></li>
    <li><a class="smooth" href="#year_2007">2007</a></li>
    <li><a class="smooth" href="#year_2008">2008</a></li>
    <li><a class="smooth" href="#year_2009">2009</a></li>
    <li><a class="smooth" href="#year_2010">2010</a></li>
    <li><a class="smooth" href="#year_2011">2011</a></li>
    <li><a class="smooth" href="#year_2012">2012</a></li>
    <li><a class="smooth" href="#year_2013">2013</a></li>
    <li><a class="smooth" href="#year_2014">2014</a></li>
  </ul>
</nav>