
<nav>
  <ul>
    <li><a class="smooth" href="#year_one">1994</a></li>
    <li><a class="smooth" href="#year_two">1995</a></li>
    <li><a class="smooth" href="#year_three">1996</a></li>
    <li><a class="smooth" href="#year_four">1997</a></li>
    <li><a class="smooth" href="#year_five">1998</a></li>

    <li><a class="smooth" href="#year_six">1999</a></li>
    <li><a class="smooth" href="#year_seven">2000</a></li>

    <!--
    <li><a class="smooth" href="#year_one">2001</a></li>
    <li><a class="smooth" href="#year_two">2002</a></li>
    <li><a class="smooth" href="#year_three">2003</a></li>

    <li><a class="smooth" href="#year_four">2004</a></li>
    <li><a class="smooth" href="#year_five">2005</a></li>
    <li><a class="smooth" href="#year_four">2006</a></li>
    <li><a class="smooth" href="#year_five">2007</a></li>   
    <li><a class="smooth" href="#year_four">2008</a></li>

    <li><a class="smooth" href="#year_five">2009</a></li>
    <li><a class="smooth" href="#year_four">2010</a></li>
    <li><a class="smooth" href="#year_five">2011</a></li>
    <li><a class="smooth" href="#year_four">2012</a></li>
    <li><a class="smooth" href="#year_five">2013</a></li>

    <li><a class="smooth" href="#year_five">2014</a></li>
  -->



  </ul>
</nav>