/**************************************/
/* BTS IMPORT */
@import "bootstrap";
/* /BTS IMPORT */
/**************************************/

body {
	margin: 0px;
}

nav {
	position: fixed;
	z-index: 1500;
		& ul {
			margin: 0px;
			padding: 20px;
			height: 100vh;
			vertical-align: middle;
			background: #fff;
			overflow: scroll;
				& li {
					list-style: none;
					margin-bottom: 15px;
						&.active a {
							color: red;
						}
				}
		}
}

/*
	#main_page {
		width: 100%;
		height: 100vh;
		background: #95a5a6;
	}
*/

section {
	width: 100%;
	height: 100vh;
		&#year_one {
			background-color: #16a085;
		}

		&#year_one {
			background: #34495e;
		}

		&#year_two {
			background: #c0392b;
		}

		&#year_three {
			background: #f39c12;
		}

		&#year_four {
			background: #3498db;
		}

		&#year_five {
			background: #2ecc71;
		}

		&#year_six {
			background: #bdc3c7;
		}

		&#year_seven {
			background: #f39c12;
		}
}

.left, .right {
	width: 50%;
	float: left;
		& .box {
			width: 200px;
			height: 200px;
		    background: #fff;
		    margin-top: 100px;
		}
}

.left .box {
	float: right;
}


/**************************************/
/* MEDIA QUERIES */
@import "mediaqueries";
/* /MEDIA QUERIES */
/**************************************/