{% comment %} // INDEX.HTML TITLE: {% endcomment %}
{% block title %}Homepage{% endblock %}


{% block styles %}
{% comment %} // PASTE IN THIS BLOCK BELOW THE SPECIFIC STYLES FOR THIS PAGE {% endcomment %}
{% endblock %}


{% block content %}
{% include "navbar" %}




<nav>
	<ul>
		<li><a class="smooth" href="#year_one">1994</a></li>
		<li><a class="smooth" href="#year_two">1995</a></li>
		<li><a class="smooth" href="#year_three">1996</a></li>
		<li><a class="smooth" href="#year_four">1997</a></li>
		<li><a class="smooth" href="#year_five">1998</a></li>

		<li><a class="smooth" href="#year_six">1999</a></li>
		<li><a class="smooth" href="#year_seven">2000</a></li>

		<!--
		<li><a class="smooth" href="#year_one">2001</a></li>
		<li><a class="smooth" href="#year_two">2002</a></li>
		<li><a class="smooth" href="#year_three">2003</a></li>

		<li><a class="smooth" href="#year_four">2004</a></li>
		<li><a class="smooth" href="#year_five">2005</a></li>
		<li><a class="smooth" href="#year_four">2006</a></li>
		<li><a class="smooth" href="#year_five">2007</a></li>		
		<li><a class="smooth" href="#year_four">2008</a></li>

		<li><a class="smooth" href="#year_five">2009</a></li>
		<li><a class="smooth" href="#year_four">2010</a></li>
		<li><a class="smooth" href="#year_five">2011</a></li>
		<li><a class="smooth" href="#year_four">2012</a></li>
		<li><a class="smooth" href="#year_five">2013</a></li>

		<li><a class="smooth" href="#year_five">2014</a></li>
	-->



	</ul>
</nav>

<!--
<div id="main_page">

</div>
-->




<section id="year_one">
	<div class="left">
		<div class="box" data-scroll-reveal="move 100%">test 1</div>
	</div>
	<div class="right">
		<div class="box" data-scroll-reveal="enter right and move 100%">test 1</div>
	</div>
</section>

<section id="year_two">
	<div class="left">
		<div class="box" data-scroll-reveal="move 100%">test 1</div>
	</div>
	<div class="right">
		<div class="box" data-scroll-reveal="enter right and move 100%">test 1</div>
	</div>
</section>

<section id="year_three">
	<div class="left">
		<div  class="box" data-scroll-reveal="move 100%">test 1</div>
	</div>
	<div class="right">
		<div class="box" data-scroll-reveal="enter right and move 100%">test 1</div>
	</div>
</section>

<section id="year_four">
	<div class="left">
		<div  class="box" data-scroll-reveal="move 100%">test 1</div>
	</div>
	<div class="right">
		<div class="box" data-scroll-reveal="enter right and move 100%">test 1</div>
	</div>
</section>

<section id="year_five">
	<div class="left">
		<div  class="box" data-scroll-reveal="move 100%">test 1</div>
	</div>
	<div class="right">
		<div class="box" data-scroll-reveal="enter right and move 100%">test 1</div>
	</div>
</section>

<section id="year_six">
	<div class="left">
		<div  class="box" data-scroll-reveal="move 100%">test 1</div>
	</div>
	<div class="right">
		<div class="box" data-scroll-reveal="enter right and move 100%">test 1</div>
	</div>
</section>

<section id="year_seven">
	<div class="left">
		<div  class="box" data-scroll-reveal="move 100%">test 1</div>
	</div>
	<div class="right">
		<div class="box" data-scroll-reveal="enter right and move 100%">test 1</div>
	</div>
</section>





{% endblock %}


{% block scripts %}
{% comment %} // PASTE IN THIS BLOCK BELOW THE SPECIFIC SCRIPTS FOR THIS PAGE {% endcomment %}
{% endblock %}