{% comment %} // INDEX.HTML TITLE: {% endcomment %}
{% block title %}Study Group - Celebrating Students First for 20 years{% endblock %}
{% block body_class %}test class{% endblock %}

{% block styles %}
{% comment %} // PASTE IN THIS BLOCK BELOW THE SPECIFIC STYLES FOR THIS PAGE {% endcomment %}
{% endblock %}

{% block content %}
{% include "header" %}
{% include "year_nav" %}

<div class="container">
	<div class="row">
		<div class="col-md-12">

			<section class="intro">
				<img src="img/intro_bg.png">
				<div class="timeline_start"></div>
			</section>

			<div class="timeline">

				<section id="year_1994" class="row">
					<div class="right col-md-6 col-sm-push-6">
						<div class="info_box" data-scroll-reveal="enter right and move 100%">
							<h2>1994</h2>
							<ul>
								<li>British Study Group is formed, comprising Bellerbys College in Brighton and two Embassy centres, one in Hastings and the other in Hove.</li>
							</ul>
						</div>
					</div>
					<div class="left col-md-6 col-sm-pull-6">
						<div class="info_box" data-scroll-reveal="move 100%">
							<img src="img/student_1.jpg">
							<p>"Bellerbys helped me to achieve all my academic goals. My teachers always encouraged me to go for the best and believed in me. I wouldn't be where I am now without all their support and help."</p>
							<strong>Yuliya from Russia</strong><br>
							Studied A Levels at Bellerbys College Brighton 
							Now studying Engineering at University of Cambridge
						</div>
					</div>
				</section>

				<section id="year_1995" class="row">
					<div class="right col-md-6 col-sm-push-6">
						<div class="info_box" data-scroll-reveal="enter right and move 100%">
							<h2>1995</h2>
							<ul>
								<li>Between 1985 and 1995 the number of international students going to study in Australia more than quadruples (Australian Bureau of Statistics).</li>
							</ul>
						</div>
					</div>
					<div class="left col-md-6 col-sm-pull-6">
						<div class="info_box" data-scroll-reveal="move 100%">
							<img src="img/student_2.jpg">
							<p>"All the people in my class are about my age, so it's perfect for making friends. Before I came here I was shy speaking English, but now I'm conﬁdent, I'm not afraid to speak and make mistakes as I learn."</p>
							<strong>Constanza from Spain</strong><br>
							Studied at Embassy English Hastings
						</div>
					</div>
				</section>

				<section id="year_1996" class="row">
					<div class="right col-md-6 col-sm-push-6">
						<div class="info_box" data-scroll-reveal="enter right and move 100%">
							<h2>1996</h2>
							<ul>
								<li>Bellerbys College Cambridge opens.</li>
								<li>The company becomes Study Group International, expanding into the USA and Australia.</li>
							</ul>
						</div>
					</div>
					<div class="left col-md-6 col-sm-pull-6">
						<div class="info_box" data-scroll-reveal="move 100%">
							<img src="img/student_3.jpg">
							<p>"The learning environment in Bellerbys is friendly and motivating. The classes are conducted in small groups, where interactive discussion and independent thoughts can take place."</p>
							<strong>Kai Shen Justin from Malaysia</strong><br>
							Studied A Levels at Bellerbys College Cambridge now studying Engineering Business Management at University of Warwick
						</div>
					</div>
				</section>

				<section id="year_1997" class="row">
					<div class="right col-md-6 col-sm-push-6">
						<div class="info_box" data-scroll-reveal="enter right and move 100%">
							<h2>1997</h2>
							<ul>
								<li>Study Group acquires Martin College.</li>
								<li>LIU Post placement programme in the USA launches.</li>
							</ul>
						</div>
					</div>
					<div class="left col-md-6 col-sm-pull-6">
						<div class="info_box" data-scroll-reveal="move 100%">
							<img src="img/student_4.jpg">
							<p>"I chose to study with Martin because I wanted to study a course that would get me out in the workplace, sooner rather than later. When I graduated I landed the job that I am still in today... It's so exciting"</p>
							<strong>Beverley from Australia</strong><br>
							Studied a Diploma in Graphic Design at Martin
						</div>
					</div>
				</section>

				<section id="year_1998" class="row">
					<div class="right col-md-6 col-sm-push-6">
						<div class="info_box" data-scroll-reveal="enter right and move 100%">
							<h2>1998</h2>
							<ul>
								<li>Study Group acquires Centre for English Studies (CES).</li>
								<li>Taylors College Sydney is formed through the amalgamation of the English Language School, High School and the University of Sydney Foundation Program.</li>
							</ul>
						</div>
					</div>
					<div class="left col-md-6 col-sm-pull-6">
						<div class="info_box" data-scroll-reveal="move 100%">
							<img src="img/student_5.jpg">
							<p>"There are people here from Brazil, from Turkey, from all over - so it's good for improving my English, as we all need to speak the same language together."</p>
							<strong>Alice from France</strong><br>
							Studied at Embassy English Brighton
						</div>
					</div>
				</section>

				<section id="year_1999" class="row">
					<div class="right col-md-6 col-sm-push-6">
						<div class="info_box" data-scroll-reveal="enter right and move 100%">
							<h2>1999</h2>
							<ul>
								<li>Embassy English San Diego opens.</li>
							</ul>
						</div>
					</div>
					<div class="left col-md-6 col-sm-pull-6">
						<div class="info_box" data-scroll-reveal="move 100%">
							<img src="img/student_6.jpg">
							<p>"The teachers have taught me so much in such a short time - that's the great thing about being here at Embassy. My class is a mix of all different nationalities, when we're all together we all speak English."</p>
							<strong>Anna from Sweden</strong><br>
							Studied at Embassy English San Diego
						</div>
					</div>
				</section>

				<section id="year_2000" class="row">
					<div class="right col-md-6 col-sm-push-6">
						<div class="info_box" data-scroll-reveal="enter right and move 100%">
							<h2>2000</h2>
							<ul>
								<li>Study Group starts the new millennium with centres in 22 locations worldwide. Agent-facing website, Partners, is launched to provide the latest information on all Study Group brands.</li>
							</ul>
						</div>
					</div>
					<div class="left col-md-6 col-sm-pull-6">
						<div class="info_box" data-scroll-reveal="move 100%">
							<img src="img/student_7.jpg">
							<p>"Teachers become the reason why you don't want to miss class. They make everything interesting and fun."</p>
							<strong>Valentin from Colombia</strong><br>
							Studied at Embassy English Brisbane
						</div>
					</div>
				</section>

				<section id="year_2001" class="row">
					<div class="right col-md-6 col-sm-push-6">
						<div class="info_box" data-scroll-reveal="enter right and move 100%">
							<h2>2001</h2>
							<ul>
								<li>Embassy English centre launches in Oxford and the company prepares to launch in Auckland shortly after.</li>
							</ul>
						</div>
					</div>
					<div class="left col-md-6 col-sm-pull-6">
						<div class="info_box" data-scroll-reveal="move 100%">
							<img src="img/student_8.jpg">
							<p>"I would definitely recommend the school as it is a great environment to study English in. The teachers are all extremely dedicated and care about their students and their results."</p>
							<strong>Lisa from the Netherlands</strong><br>
							Studied at Embassy English Auckland
						</div>
					</div>
				</section>

				<section id="year_2002" class="row">
					<div class="right col-md-6 col-sm-push-6">
						<div class="info_box" data-scroll-reveal="enter right and move 100%">
							<h2>2002</h2>
							<ul>
								<li>1,500 staff work for Study Group helping 35,000 students enrol each year.</li>
								<li>Taylors College opens in Auckland, New Zealand, offering foundation programmes to two of the country's leading universities</li>
							</ul>
						</div>
					</div>
					<div class="left col-md-6 col-sm-pull-6">
						<div class="info_box" data-scroll-reveal="move 100%">
							<img src="img/student_9.jpg">
							<p>"Thanks to the Auckland Foundation Year, I gained the necessary knowledge to support my journey to university. The class sizes  were small therefore it was very easy to meet people and make new friends."</p>
							<strong>Jackie from Vietnam</strong><br>
							Studied at University of Auckland
						</div>
					</div>
				</section>

				<section id="year_2003" class="row">
					<div class="right col-md-6 col-sm-push-6">
						<div class="info_box" data-scroll-reveal="enter right and move 100%">
							<h2>2003</h2>
							<ul>
								<li>Bellerbys College Oxford sees its first cohort's results, with all centres achieving their best A Level results yet.</li>
							</ul>
						</div>
					</div>
					<div class="left col-md-6 col-sm-pull-6">
						<div class="info_box" data-scroll-reveal="move 100%">
							<img src="img/student_10.jpg">
							<p>"I wouldn't be where I am now without my teachers who were constantly encouraging me to push myself forwards to my intellectual limits."</p>
							<strong>Darija from Ukraine</strong><br>
							Studied A Levels at Bellerbys College Oxford now studying Economics and Philosophy at University of St Andrews
						</div>
					</div>
				</section>

				<section id="year_2004" class="row">
					<div class="right col-md-6 col-sm-push-6">
						<div class="info_box" data-scroll-reveal="enter right and move 100%">
							<h2>2004</h2>
							<ul>
								<li>Bellerbys College London opens.</li>
							</ul>
						</div>
					</div>
					<div class="left col-md-6 col-sm-pull-6">
						<div class="info_box" data-scroll-reveal="move 100%">
							<img src="img/student_11.jpg">
							<p>"Bellerbys gave me a strong background in all the subjects I needed for university and they taught me how to organise my work to succeed."</p>
							<strong>Adam from France</strong><br>
							Studied at Bellerbys College London Now studying Business Studies at Cass Business School, City University London
						</div>
					</div>
				</section>

				<section id="year_2005" class="row">
					<div class="right col-md-6 col-sm-push-6">
						<div class="info_box" data-scroll-reveal="enter right and move 100%">
							<h2>2005</h2>
							<ul>
								<li>Building Futures launches.</li>
							</ul>
						</div>
					</div>
					<div class="left col-md-6 col-sm-pull-6">
						<div class="info_box" data-scroll-reveal="move 100%">
							<img src="img/building_futures.png">
							<p>"The money raised through Building Futures has transformed seven communities in nine years with our eighth project underway."</p>
						</div>
					</div>
				</section>

				<section id="year_2006" class="row">
					<div class="right col-md-6 col-sm-push-6">
						<div class="info_box" data-scroll-reveal="enter right and move 100%">
							<h2>2006</h2>
							<ul>
								<li>The first International Study Centre (ISC) opens at University of Sussex.</li>
								<li>Charles Sturt University Study Centre Melbourne launch</li>
							</ul>
						</div>
					</div>
					<div class="left col-md-6 col-sm-pull-6">
						<div class="info_box" data-scroll-reveal="move 100%">
							<img src="img/student_12.jpg">
							<p>"I would not have been able to achieve my first-class degree, resulting in two academic excellence awards and funded PhD research, without the help of the International Study Centre."</p>
							<strong>Mohsen from Iran</strong><br>
							Studied International Foundation Year at the University of Sussex ISC
						</div>
					</div>
				</section>

				<section id="year_2007" class="row">
					<div class="right col-md-6 col-sm-push-6">
						<div class="info_box" data-scroll-reveal="enter right and move 100%">
							<h2>2007</h2>
							<ul>
								<li>New premises opens for Bellerbys College Brighton &amp; Embassy English Brighton.</li>
								<li>Two International Study Centres open at Lancaster University &amp; University of Surrey Embassy English wins a Star Award for Best Chain Language School.</li>
							</ul>
						</div>
					</div>
					<div class="left col-md-6 col-sm-pull-6">
						<div class="info_box" data-scroll-reveal="move 100%">
							<img src="img/student_13.jpg">
							<p>"I am very happy that I chose to study the International Foundation Year at the University of Surrey International Study Centre. It provided me with fundamental knowledge required for the subjects I am studying on my degree."</p>
							<strong>Ivey from China</strong><br>
							Studied International Foundation Year at the University of Surrey ISC
						</div>
					</div>
				</section>

				<section id="year_2008" class="row">
					<div class="right col-md-6 col-sm-push-6">
						<div class="info_box" data-scroll-reveal="enter right and move 100%">
							<h2>2008</h2>
							<ul>
								<li>Three new International Study Centres open at Liverpool John Moores University (LJMU), University of Leicester and University of Huddersfield.</li>
								<li>Embassy English opens Boston Study Centre Embassy English wins Star Award for Innovation.</li>
							</ul>
						</div>
					</div>
					<div class="left col-md-6 col-sm-pull-6">
						<div class="info_box" data-scroll-reveal="move 100%">
							<img src="img/student_14.jpg">
							<p>"LJMU is a great university with a recognised degree. The ISC provides a supportive environment preparing us for University. Liverpool is an affordable yet amazing city - I love the Albert Docks, with its cinemas and museums."</p>
							<strong>Muhammad Saeed from Pakistan</strong><br>
							Studied International Foundation Year at LJMU ISC
						</div>
					</div>
				</section>

				<section id="year_2009" class="row">
					<div class="right col-md-6 col-sm-push-6">
						<div class="info_box" data-scroll-reveal="enter right and move 100%">
							<h2>2009</h2>
							<ul>
								<li>Study Group acquires ACPE and AIAS in Australia.</li>
								<li>Embassy English Los Angeles Study Centre opens.</li>
								<li>First US Itnternational Study Centre opens at James Madison University.</li>
								<li>Two UK International Study Centres open at Keele University and Kingston University, London.</li>
								<li>Embassy English wins Star Award Best Chain Language School.</li>
							</ul>
						</div>
					</div>
					<div class="left col-md-6 col-sm-pull-6">
						<div class="info_box" data-scroll-reveal="move 100%">
							<img src="img/student_15.jpg">
							<p>"I enrolled in online and on-campus classes, and have found my passion in life. The flexibility made it possible for me to start creating a new life immediately."</p>
							<strong>Sharon from Australia</strong><br>
							Studied Advance Diploma of Naturopathy at AIAS
						</div>
					</div>
				</section>

				<section id="year_2010" class="row">
					<div class="right col-md-6 col-sm-push-6">
						<div class="info_box" data-scroll-reveal="enter right and move 100%">
							<h2>2010</h2>
							<ul>
								<li>Embassy English Study Centre opens in Melbourne, Australia.</li>
								<li>New UK International Study Centre opens at University of Lincoln.</li>
							</ul>
						</div>
					</div>
					<div class="left col-md-6 col-sm-pull-6">
						<div class="info_box" data-scroll-reveal="move 100%">
							<img src="img/student_16.jpg">
							<p>"The teachers were very friendly and I liked working with my classmates. We were like a big family! I like the UK, especially Lincoln because it is so different from China."</p>
							<strong>Hong from China</strong><br>
							Studied International Year One at University of Lincoln ISC
						</div>
					</div>
				</section>

				<section id="year_2011" class="row">
					<div class="right col-md-6 col-sm-push-6">
						<div class="info_box" data-scroll-reveal="enter right and move 100%">
							<h2>2011</h2>
							<ul>
								<li>UK International Study Centre opens at Royal Holloway, University of London.</li>
								<li>First European International Study Centre opens in Dublin offering progression to University College Dublin and Trinity College Dublin.</li>
								<li>First Canadian International Study Centre opens at Royal Roads University.</li>
								<li>Embassy English acquires new school in Toronto.</li>
								<li>Career Partnerships was launched.</li>
							</ul>
						</div>
					</div>
					<div class="left col-md-6 col-sm-pull-6">
						<div class="info_box" data-scroll-reveal="move 100%">
							<img src="img/student_17.jpg">
							<p>"The Dublin ISC gives you the golden opportunity to join either UCD or Trinity, and there is a huge variety of degree courses that can be chosen. I am very proud to be studying here."</p>
							<strong>Ivan from Ukraine</strong><br>
							Studied International Foundation Year at Dublin ISC
						</div>
					</div>
				</section>

				<section id="year_2012" class="row">
					<div class="right col-md-6 col-sm-push-6">
						<div class="info_box" data-scroll-reveal="enter right and move 100%">
							<h2>2012</h2>
							<ul>
								<li>Second US International Study Centre opens at Widener University.</li>
								<li>New Australian partnership with Flinders University Australia.</li>
								<li>New UK International Study Centre at Istituto Marangoni.</li>
								<li>New European International Study Centre in Holland.</li>
								<li>ACPE Academy was launched.</li>
							</ul>
						</div>
					</div>
					<div class="left col-md-6 col-sm-pull-6">
						<div class="info_box" data-scroll-reveal="move 100%">
							<img src="img/student_18.jpg">
							<p>"Within six weeks of my last class at ACPE, I secured my current job role of Game Development Officer for the National Rugby League."</p>
							<strong>Ben from Australia</strong><br>
							Studied a Bachelors degree in Sports Coaching and Administration at ACPE
						</div>
					</div>
				</section>

				<section id="year_2013" class="row">
					<div class="right col-md-6 col-sm-push-6">
						<div class="info_box" data-scroll-reveal="enter right and move 100%">
							<h2>2013</h2>
							<ul>
								<li>University of Strathclyde International Study Centre launches.</li>
								<li>Three US International Study Centres open at University of Vermont, University of Maine, and Roosevelt University.</li>
								<li>New Australian partnership with The Australian National University.</li>
								<li>Kingston University, London Distance Learning MBA launches.</li>
							</ul>
						</div>
					</div>
					<div class="left col-md-6 col-sm-pull-6">
						<div class="info_box" data-scroll-reveal="move 100%">
							<img src="img/student_19.jpg">
							<p>"UVM is a very good college; it is ranked very high for the courses I'm pursuing. I also love how close downtown is to the campus. The people in the community are lovely, very inclusive and very welcoming to other cultures."</p>
							<strong>Akriti from India</strong><br>
							Studied at University of Vermont ISC
						</div>
					</div>
				</section>


				<section id="year_2014" class="row">
					<div class="right col-md-6 col-sm-push-6">
						<div class="info_box" data-scroll-reveal="enter right and move 100%">
							<h2>2014</h2>
							<ul>
								<li>Embassy English Study Centre opens in Central London.</li>
								<li>LIU Brooklyn direct entry launches.</li>
								<li>The University of Sheffield International College launches.</li>
								<li>Imperial College Global MBA launches.</li>
								<li>A new tool for agents, Course Finder, launches.</li>
								<li>Bellerbys College relaunches as four specialist colleges providing a focused educational experience.</li>
							</ul>
						</div>
					</div>
					<div class="left col-md-6 col-sm-pull-6">
						<div class="info_box" data-scroll-reveal="move 100%">
							<img src="img/student_20.jpg">
							<p>"I have made many friends here. I meet my friends outside the school for coffee, and we just speak in English - everybody is friendly."</p>
							<strong>Mohammad from UAE</strong><br>
							Studied at Embassy English London
						</div>
					</div>
				</section>




			</div>
 
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
{% comment %} // PASTE IN THIS BLOCK BELOW THE SPECIFIC SCRIPTS FOR THIS PAGE {% endcomment %}
{% endblock %}