{% comment %} // INDEX.HTML TITLE: {% endcomment %}
{% block title %}Homepage{% endblock %}


{% block styles %}
{% comment %} // PASTE IN THIS BLOCK BELOW THE SPECIFIC STYLES FOR THIS PAGE {% endcomment %}
{% endblock %}


{% block content %}
{% include "navbar" %}
{% include "year_nav" %}





<!--
<div id="main_page">

</div>
-->




<section id="year_one">
	<div class="left">
		<div class="box" data-scroll-reveal="move 100%">test 1</div>
	</div>
	<div class="right">
		<div class="box" data-scroll-reveal="enter right and move 100%">test 1</div>
	</div>
</section>

<section id="year_two">
	<div class="left">
		<div class="box" data-scroll-reveal="move 100%">test 1</div>
	</div>
	<div class="right">
		<div class="box" data-scroll-reveal="enter right and move 100%">test 1</div>
	</div>
</section>

<section id="year_three">
	<div class="left">
		<div  class="box" data-scroll-reveal="move 100%">test 1</div>
	</div>
	<div class="right">
		<div class="box" data-scroll-reveal="enter right and move 100%">test 1</div>
	</div>
</section>

<section id="year_four">
	<div class="left">
		<div  class="box" data-scroll-reveal="move 100%">test 1</div>
	</div>
	<div class="right">
		<div class="box" data-scroll-reveal="enter right and move 100%">test 1</div>
	</div>
</section>

<section id="year_five">
	<div class="left">
		<div  class="box" data-scroll-reveal="move 100%">test 1</div>
	</div>
	<div class="right">
		<div class="box" data-scroll-reveal="enter right and move 100%">test 1</div>
	</div>
</section>

<section id="year_six">
	<div class="left">
		<div  class="box" data-scroll-reveal="move 100%">test 1</div>
	</div>
	<div class="right">
		<div class="box" data-scroll-reveal="enter right and move 100%">test 1</div>
	</div>
</section>

<section id="year_seven">
	<div class="left">
		<div  class="box" data-scroll-reveal="move 100%">test 1</div>
	</div>
	<div class="right">
		<div class="box" data-scroll-reveal="enter right and move 100%">test 1</div>
	</div>
</section>





{% endblock %}


{% block scripts %}
{% comment %} // PASTE IN THIS BLOCK BELOW THE SPECIFIC SCRIPTS FOR THIS PAGE {% endcomment %}
{% endblock %}