{% comment %} // INDEX.HTML TITLE: {% endcomment %}
{% block title %}Homepage{% endblock %}


{% block styles %}
{% comment %} // PASTE IN THIS BLOCK BELOW THE SPECIFIC STYLES FOR THIS PAGE {% endcomment %}
{% endblock %}


{% block content %}

	<h1>Bootstrap 3.2 <span class="label label-success">New</span> + Sass</h1>

	<p>
	This is a quick and simple setup for using <a href="https://github.com/twbs/bootstrap-sass">Bootstrap-Sass</a> in Mixture.
	</p>
	<p>
	It currently uses Bootstrap-Sass v3.2.0, and has Autoprefixer activated.
	</p>

	<code>Please note the project is in debugg mode by default. To change it, go to mixture.json and change "debug": true" to "debug": false".</code>
	<hr>
	<p>
	<span class="label label-success">Updated for Mixture v2.55</span> <span class="label label-success">Bootstrap 3.2</span>
	</p>


	<ul>
		<li>Add javascript in assets/javascripts/application.js</li>
		<li>Edit styles in assets/stylesheets/style.scss</li>
		<li>Edit MEDIAQUERIES in assets/stylesheets/_mediaqueries.scss</li>
		<li>Edit variables in assets/stylesheets/_variables.scss (Own and Bootstrap)</li>
		<li>Add images in app/img</li>
		<li>Add fonts in app/fonts</li>
	</ul>

	<a href="/example">Example page.</a>
	<br><br>
	<div class="well"><a href="https://github.com/kikedomingo/bts-sass-mixture" target="_blank">Feel free to modify the boilerplate in Github.</a></div>

{% endblock %}


{% block scripts %}
{% comment %} // PASTE IN THIS BLOCK BELOW THE SPECIFIC SCRIPTS FOR THIS PAGE {% endcomment %}
{% endblock %}